.jquery-slider-wrapper
{
  position:relative;
  clear:both;
  zoom:1;
  margin:auto;
}

.jquery-slider-slide
{
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.jquery-slider-slide img
{
  border:0;
  margin:0;
  padding:0;
  max-width: none !important;
  height: none !important;
}

.jquery-slider-slide-current
{
  display:block;
  z-index:2;
}

.jquery-slider-slide-next
{
  display:block;
  z-index:1;
}

.jquery-slider-selectors
{
  display:block;
  overflow:hidden;
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:3;
}

.jquery-slider-option-navigation-selector-control-timer .jquery-slider-selectors,
.jquery-slider-option-navigation-selector-control .jquery-slider-selectors
{
  right:100px;
}

.jquery-slider-option-navigation-selector-timer .jquery-slider-selectors,
.jquery-slider-option-navigation-selector .jquery-slider-selectors
{
  right:70px;
}

.jquery-slider-option-selector-control-timer .jquery-slider-selectors,
.jquery-slider-option-selector-control .jquery-slider-selectors
{
  right:40px;
}

.jquery-slider-selector
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -100px 0;
  display:inline;
  float:left;
  width:25px;
  height:25px;
  margin:0 0 0 5px;
}

.jquery-slider-selector span
{
  display:block;
  width:100%;
  height:100%;
}

.jquery-slider-selector-1
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat 0px -50px;
}

.jquery-slider-selector-2
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -31px -50px;
}

.jquery-slider-selector-3
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -60px -50px;
}

.jquery-slider-selector-4
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -93px -50px;
}

.jquery-slider-selector-5
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -126px -50px;
}

.jquery-slider-selector-6
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -155px -50px;
}

.jquery-slider-selector-7
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -184px -50px;
}

.jquery-slider-selector-8
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -213px -50px;
}

.jquery-slider-selector-9
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -246px -50px;
}

.jquery-slider-selector-10
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -281px -50px;
}

.jquery-slider-selector-11
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -320px -50px;
}

.jquery-slider-selector-12
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -351px -50px;
}

.jquery-slider-selector-13
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -383px -50px;
}

.jquery-slider-selector-14
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -419px -50px;
}

.jquery-slider-selector-15
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -451px -50px;
}

.jquery-slider-selector-16
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -487px -50px;
}

.jquery-slider-selector-17
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -519px -50px;
}

.jquery-slider-selector-18
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -555px -50px;
}

.jquery-slider-selector-19
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -587px -50px;
}

.jquery-slider-selector-20
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -624px -50px;
}

.jquery-slider-selector-current
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -100px -25px;
}

.jquery-slider-selector-current .jquery-slider-selector-1
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat 0px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-2
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -31px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-3
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -60px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-4
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -93px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-5
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -126px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-6
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -155px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-7
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -184px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-8
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -213px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-9
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -246px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-10
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -281px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-11
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -320px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-12
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -351px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-13
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -383px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-14
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -419px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-15
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -451px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-16
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -487px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-17
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -519px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-18
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -555px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-19
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -587px -81px;
}

.jquery-slider-selector-current .jquery-slider-selector-20
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -624px -81px;
}


.jquery-slider-selector span span
{
  display:none;
}


.jquery-slider-control
{
  display:block;
  position:absolute;
  cursor: pointer;
  width:25px;
  height:25px;
  z-index:4;
  bottom:10px;
  right:10px;
}

.jquery-slider-control span
{
  display:none;
}

.jquery-slider-control-play
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -75px 0;
}

.jquery-slider-control-pause
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -50px 0;
}

.jquery-slider-control-play:hover
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -75px -25px;
}

.jquery-slider-control-pause:hover
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -50px -25px;
}


.jquery-slider-navigation
{
  display:block;
  position:absolute;
  z-index:4;
  bottom:10px;
  right:10px;
}

.jquery-slider-option-navigation-selector-control .jquery-slider-navigation,
.jquery-slider-option-navigation-selector-control-timer .jquery-slider-navigation,
.jquery-slider-option-navigation-control .jquery-slider-navigation,
.jquery-slider-option-navigation-control-timer .jquery-slider-navigation
{
  right:40px;
}


.jquery-slider-navigation-prev
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat 0 0;
  cursor: pointer;
  width:25px;
  height:25px;
  float:left;
  margin:0 0 0 5px;
}

.jquery-slider-navigation-prev span
{
  display:none;
}

.jquery-slider-navigation-prev:hover
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat 0 -25px;
}

.jquery-slider-navigation-next
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -25px 0;
  cursor: pointer;
  width:25px;
  height:25px;
  float:left;
  margin:0 0 0 5px;
}

.jquery-slider-navigation-next span
{
  display:none;
}

.jquery-slider-navigation-next:hover
{
  background:url(../images/slide3/jquery-slider-theme.png) no-repeat -25px -25px;
}

.jquery-slider-wrapper .caption
{
  padding:6px 10px;
  background:#1e1e1e;
  font-size:10px;
  font-family:Arial, Verdana;
  position:absolute;
  top:10px;
  left:10px;
  color:#efefef;
}

.jquery-slider-timer
{
  color:#000000;
  height:3px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:4;
}

.jquery-slider-timer-bar
{
  background:#1e1e1e;
  opacity:0.5;
  height:3px;
  width:0;
  float:left;
  display:inline;
}
