.jquery-slider-wrapper
{
  position:relative;
  clear:both;
  zoom:1;
  margin:auto;
}

.jquery-slider-slide
{
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.jquery-slider-slide img
{
  border:0;
  margin:0;
  padding:0;
}

.jquery-slider-slide-current
{
  display:block;
  z-index:2;
}

.jquery-slider-slide-next
{
  display:block;
  z-index:1;
}

.jquery-slider-selectors
{
  display:block;
  overflow:hidden;
  position:absolute;
  bottom:5px;
  right:5px;
  z-index:3;
  width:24px;
}

.jquery-slider-option-navigation-selector-control-timer .jquery-slider-selectors,
.jquery-slider-option-navigation-selector-timer .jquery-slider-selectors,
.jquery-slider-option-selector-control-timer .jquery-slider-selectors,
.jquery-slider-option-selector-timer .jquery-slider-selectors
{
  bottom:9px;
}


.jquery-slider-selector
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat -20px 0;
  display:inline;
  float:left;
  width:10px;
  height:10px;
  margin:2px 0 0 2px;
}

.jquery-slider-selector span
{
  display:none;
}

.jquery-slider-selector-current
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat -20px -10px;
}

.jquery-slider-control
{
  display:block;
  position:absolute;
  cursor: pointer;
  width:19px;
  height:20px;
  z-index:4;
  top:0px;
  right:-19px;
}

.jquery-slider-control span
{
  display:none;
}

.jquery-slider-option-navigation-selector-control .jquery-slider-control,
.jquery-slider-option-navigation-selector-control-timer .jquery-slider-control,
.jquery-slider-option-navigation-control .jquery-slider-control,
.jquery-slider-option-navigation-control-timer .jquery-slider-control,
.jquery-slider-option-selector-control .jquery-slider-control,
.jquery-slider-option-selector-control-timer .jquery-slider-control
{
  top:24px;
}

.jquery-slider-control-play
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -44px;
}

.jquery-slider-control-pause
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -24px;
}

.jquery-slider-control-play:active
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -132px;
}

.jquery-slider-control-pause:active
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -112px;
}

.jquery-slider-navigation
{
  display:block;
  position:absolute;
  z-index:4;
  top:0px;
  right:-19px;
  width:19px;
}

.jquery-slider-navigation-prev
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 0;
  cursor: pointer;
  width:19px;
  height:24px;
  position:absolute;
  top:0;
  left:0;
}

.jquery-slider-navigation-prev span
{
  display:none;
}

.jquery-slider-navigation-prev:active
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -88px;
}

.jquery-slider-navigation-next
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -64px;
  cursor: pointer;
  width:19px;
  height:24px;
  position:absolute;
  top:24px;
  left:0;
}

.jquery-slider-navigation-next span
{
  display:none;
}

.jquery-slider-navigation-next:active
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat 0 -152px;
}

.jquery-slider-option-navigation-selector-control .jquery-slider-navigation-next,
.jquery-slider-option-navigation-selector-control-timer .jquery-slider-navigation-next,
.jquery-slider-option-navigation-control .jquery-slider-navigation-next,
.jquery-slider-option-navigation-control-timer .jquery-slider-navigation-next
{
  top:44px;
}

.jquery-slider-wrapper .caption
{
  padding:6px 10px;
  background:#333333;
  font-size:13px;
  position:absolute;
  bottom:10px;
  left:10px;
  color:#FFFFFF;
}

.jquery-slider-timer
{
  color:#000000;
  height:2px;
  width:22px;
  position:absolute;
  bottom:5px;
  right:5px;
  z-index:4;
}

.jquery-slider-timer-bar
{
  background:url(../images/slide4/jquery-slider-theme.png) no-repeat -31px 0;
  float:left;
  display:inline;
  height:2px;
  width:0px;
}
